/* mini css reset */
html, body, p, h1, h2 {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  font-family: 'Cutive Mono', monospace;
  color: #e0e0e0;
}

/* header 
------------------------------------------
*/
.page-title {
  font-family: 'VT323', monospace;
  text-transform: uppercase;
  text-align: center;
  font-size: 4em;
  color: #CCA43B;
}

.description {
  text-align: center;
  margin: 10px 0;
}

/* 
middle area
-------------------------------------------- 
*/
.play-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.play-box {
  margin: 20px;
  width: 150px;
  text-align: center;
}

.vertical-line {
  width: 0.5%;
  margin: 20px 100px;
  background-color: white;
}

img {
  height: auto;
  width: 50%;
}

img.player-selection {
  transform: rotate(90deg);
}

img.computer-selection {
  transform: rotate(90deg) scaleY(-1);
}

/* results text styling  */

.results {
  text-align: center;
}

.rounds {
  margin-bottom: 10px;
}

.rounds-result, .final-result {
  text-transform: uppercase;
}

.final-result {
  font-size: 1.3em;
}

.rounds-result {
  color: #CCA43B;
}

/* buttons */
.selection-buttons, .reset{
  text-align: center;
  position: absolute;
  bottom: 15%;
  width: 100%;
}

button {
  border: none;
}
button:hover{
  background-color: #3B6F73;
  cursor: pointer;
  transition-duration: 0.4s;
}
button:focus{
  outline: 0;
}
button:active{
  transform: scale(0.8);
  transition-duration: 0.03s;
}

/* button background icons */
.rock {
  background-image: url('images/rock_black.svg');
  background-position: center;
}

.paper{
  background-image: url('images/paper_black.svg');
  background-size: 65%;
  background-position: bottom center;
}

.scissor{
  background-image: url('images/scissors_black.svg');
  background-size: 65%;
  background-position: bottom center;
}

.rock, 
.paper,
.scissor{
  background-repeat: no-repeat;
  background-color: #709699;
  border-radius: 40%;
  height: 8em;
  width: 8em;
  margin: 0px 20px 20px 0px;
  transform: rotate(90deg);
}

/* restart button styling */

.restart-button{
  display: none;
  background-color: #709699;
  border-radius: 10px;
  padding: 20px;
  font-size: 1.5em;
  width: 30%;
}



/* 
Footer 
--------------------------------------------
*/

.small-text {
  font-size: .7em;
  display: block;
  text-align: center;
  margin-top: 5px;
}

footer {
  padding: 10px;
  width: 100%;
  background: #826926;
  color: white;
  font-family: 'Cutive Mono', monospace;
  font-size: .9em;
  text-align: center;
  position: fixed;
  bottom: 0;
}

/* 
Media Queries
----------------------------------------------
*/

@media (max-width: 700px) {
  .page-title {
    font-size: 2.5em;
  }
  
  .vertical-line {
    margin: 20px 20px;
  }

  .play-box {
    font-size: 80%;
  }

  .rock, 
  .paper,
  .scissor {
    width: 6em;
    height: 6em;
  }

  .restart-button {
    width: initial;
    font-size: 1em;
  }

  .description {
    font-size: .7em;
  }
}